canvas{
	display:block;
	vertical-align:bottom;
	
	resize: both;
	overflow: auto;
}

/* ---- particles.js container ---- */

#particles-js{
	
	width: 100%;
	height: 200%;
	background: rgb(255,255,240);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	position:absolute;
	left:0;
	top:0;
}
